<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BankingV2">

	<listeners>
		<listener class-name="com.banking.utilities.Reporting" />
	</listeners>

	<test name="BankingAPP Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.banking.testCases.TC_LoginPage_001" />
			<!-- <class name="com.banking.testCases.TC_LoginDDT_002" /> -->
				<!-- <class name="com.banking.testCases.TC_AddCustTest_003" /> -->
		</classes>
	</test>

</suite>